<div class="span7 offset3">
<form class="form-inline" action="/search" method="get">
  <input class="input-large" type="text" name="q" autofocus="" placeholder="Enter a movie title"/>
  <button class="btn" name="search" value="search">Search</button>
  <button class="btn" name="lucky" value="lucky">I'm Feeling Lucky</button>
</form>
</div>
