<h2>
  <% if @result.empty? %>
    No search results found
  <% else %>
      Search results
  <% end %>
     for  <q><%= @query %></q>
</h2>
<%= erb :search_form %>
<div class='row-fluid'>
  <div class='span7 offset3'>
  </div>
    <%= erb :search_results unless @result.empty? %>
</div>
